<div style="overflow: hidden;">
    <div class="left-side">
        <img class="header-image" mat-card-image src="{{ item.thumbnail.path }}.jpg" />
    </div>
    <div class="right-side">
        <h2 *ngIf="item?.title">{{ item?.title }}</h2>
        <h2 *ngIf="item?.name">{{ item?.name }}</h2>

        <div class="date">
            <h2><b>Published On</b></h2>
            <p>{{ item?.modified | date }}</p>
        </div>
        <div class="description">
            <p *ngIf="item?.description">{{ item?.description }}</p>
            <p *ngIf="!item?.description">
                Description for this data is not available.
            </p>
        </div>
    </div>
</div>